[submodule "ext/bgfx"]
	path = ext/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "ext/bx"]
	path = ext/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "ext/bullet3"]
	path = ext/bullet3
	url = https://github.com/bulletphysics/bullet3.git
